{% extends 'users/therapistDashboard.html' %}
{% load crispy_forms_tags %}

{% block content2 %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h5>
	{% filter force_escape|upper %}
	Hi {{therapist.f_name}},
	{% endfilter %}
	</h5>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<img src="{{therapist.image.url}}"  class="img-thumbnail">
		</div>
		<div class="col-sm-7">
			<div class="card text-dark bg-light mb-3">
			<div class="card-header text-center"><b>PROFILE DETAILS</b></div>
			<div class="card-body">
				<p class="card-text text-center">
					<p class="font-weight-normal text-center" style="font-size: large">{{therapist.f_name}} {{therapist.l_name}}
					<br>
					Email: {{therapist.email}}
					<br>
					Gender: {{therapist.gender}}
					<br>
					Age: {{therapist.age}}
					<br>
					{% if therapist.phone != None %}
					Phone: {{therapist.phone}}
					<br>
					{% endif %}
					<br>
					<button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#formid">Edit Profile</button>
					</p>
				</p>
			</div>
			</div>
		</div>
	</div>
		
		
	<div class="modal" id="formid" style="z-index:20000">
		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-body">
					<form method='POST' enctype= "multipart/form-data">
						{% csrf_token %}
						{{form1|crispy}}
						<button type="submit">save changes</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
{% endblock %}
<!-- onclick="document.getElementById('formid').style.display='block' -->