{% extends 'users/therapistDashboard.html' %}
{% load crispy_forms_tags %}
{% block content2 %}
<!-- <main role="main" class="col-md-5 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    </div>
</main>
 -->
<main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
	<div class="row">
		<div class="col-sm-6">

			{% for t in therapistblogs %}
	          <div class="blog-post">
	            <h2 class="blog-post-title">{{t.title}}</h2>
	            <p class="blog-post-meta">{{t.date}} by <a href="#">{{t.therapist_id.f_name}}</a></p>

	            <p>{{t.subtitle}}</p>
	            <hr>
	            <p>{{t.content}}</p>
	          </div>
          {% endfor %}			

		</div>


	    <div class=" col-sm-6 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<div class="container-fluid">
			{% if blogstatus %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
			    <strong>Blog has been added</strong>
			    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			    </button>
			    </div>
			{% endif %}
					<div class="container" style="border: 2px solid grey">
						<br>
						<br>
						<p class="display-4">Add Blog</p>
							<div class="container-fluid bg-light">
								<br>
								<br>
									<form method="POST">
										{% csrf_token %}
										{{form|crispy}}

										<div>
											<button class="btn btn-primary">Submit</button>
										</div>
									</form>
									<br>
									<br>
							</div>
					</div>

			</div>
		</div>
	</div>
</main>
</div>
</div>
{% endblock %}